<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Student Registration Portal</a>


    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">



        <li>
          <a *ngIf="!currentUser" [routerLink]="['/home']" [routerLinkActiveOptions]= "{exact:true}" routerLinkActive='active'>Home</a>
          <a *ngIf="currentUser"  [routerLink]="['/dashboard']" [routerLinkActiveOptions]= "{exact:true}" routerLinkActive='active'>Home</a>

        </li>
        <li><a *ngIf="currentUser"  [routerLink]="['/new']" routerLinkActive='active'>Add Student</a></li>

        <li><a   [routerLink]="['/customer']" [routerLinkActiveOptions]= "{exact:true}" routerLinkActive='active'>Customer</a></li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
              <li><a *ngIf="!currentUser" routerLinkActive='active' [routerLink]="['/admin/login']">Login</a></li>
             <li *ngIf="currentUser" class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" >
              Welcome {{message}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li >
                <a (click)='log()' routerLinkActive='active'>Logout</a>
            </li>
          </ul>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
